@charset "utf-8";
/*#main dl{
	margin-left: 40px
}*/
#introduce dt{
	font-weight: bold;
}
#introduce dd{
	margin-left: 1em;
}

#history dd{
	margin-left: 1em;
	float: left;
}

#history dt{
	float: left;
	clear: left;
}
