@charset "utf-8";

#main ul{
	margin-top: 0px;
	/*margin-left: 40px;*/
	margin-bottom: 0px;
	padding: 0px 20px 0px 40px;

}

#main h3{
	margin-top: 20px;
	margin-bottom: 10px;
	text-decoration: underline;
}

#main .ref{
	margin-top: -10px;
	text-align: right;
	margin-right: 30px;
}

#main .bold{
	font-weight: bold;
}

#main dl{
	display: flex;
	flex-wrap: wrap;
	margin-left: 0px;
	padding: 10px 20px 10px;
}

#main dl dt{
	width: 20%;
	font-weight: bold;
}

#main dl dd{
	width: 80%;
}

#main .fig_wrapper{
	text-align: center;
	color: #333;
}

#main .fig{
	width: 80%;
	height: auto;
}

#main .movie_wrapper{
	text-align: center;
	color: #333;
}

#main .movie{
	width: 80%;
	height: auto;
}

@media screen and (max-width: 480px){
	#main dl dt{
		width: 30%;
		font-weight: bold;
	}
	#main dl dd{
		width: 70%;
	}
}
