@charset "utf-8";

#main dl{
	/*margin-left: 40px;*/
}
#main dt{
	border: solid black 1px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#main dd{
	margin-bottom: 10px;
	margin-top: 10px;	
}